[submodule "spram-wb"]
	path = spram-wb
	url = https://github.com/QueenField/MPSoC-WB-SPRAM.git
[submodule "dbg-wb"]
	path = dbg-wb
	url = https://github.com/QueenField/MPSoC-WB-DBG.git
[submodule "uart-wb"]
	path = uart-wb
	url = https://github.com/QueenField/MPSoC-WB-UART.git
[submodule "msi-wb"]
	path = msi-wb
	url = https://github.com/QueenField/MPSoC-WB-MSI.git
